<div class="menu-content">
  <div class="title-menu">
    <div class="title">Menu</div>
    <div class="close-menu">
      <button mat-icon-button (click)="closeMenu()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="menu-section">
    <ul class="menu-list">
      <app-board-menu-item
        icon="bar_chart"
        title="About this board"
        description="Add a description to your board"
      ></app-board-menu-item>
      <app-board-menu-item
        icon="format_paint"
        title="Change background"
      ></app-board-menu-item>
      <app-board-menu-item
        icon="search"
        title="Search cards"
      ></app-board-menu-item>
      <app-board-menu-item icon="launch" title="Stickers"></app-board-menu-item>
      <app-board-menu-item icon="more_horiz" title="More"></app-board-menu-item>
      <div class="divider"></div>
      <app-board-menu-item
        icon="flash_on"
        title="Automation"
        description="Automate cards and more..."
      ></app-board-menu-item>
      <div class="divider"></div>
      <app-board-menu-item
        icon="blur_on"
        title="Power-Ups"
        description="Google Drive and more..."
      ></app-board-menu-item>
      <app-board-menu-item
        icon="plus_one"
        description="Add Power-Up..."
      ></app-board-menu-item>
      <div class="divider"></div>
      <app-board-menu-item
        icon="blur_on"
        title="Power-Ups"
        description="Google Drive and more..."
      ></app-board-menu-item>
      <app-board-menu-item
        icon="plus_one"
        description="Add Power-Up..."
      ></app-board-menu-item>
      <div class="divider"></div>
      <app-board-menu-item
        icon="blur_on"
        title="Power-Ups"
        description="Google Drive and more..."
      ></app-board-menu-item>
      <app-board-menu-item
        icon="plus_one"
        description="Add Power-Up..."
      ></app-board-menu-item>
      <div class="divider"></div>
    </ul>
  </div>
</div>
