<mat-toolbar fxLayout="row">
  <div class="toolbar-actions" fxLayout="row" fxLayoutGap="5px">
    <button mat-icon-button class="example-icon apps-icon">
      <mat-icon>apps</mat-icon>
    </button>

    <button mat-icon-button class="example-icon">
      <mat-icon>home</mat-icon>
    </button>

    <button
      mat-icon-button
      class="example-icon boards-icon"
      aria-label="Example boards icon"
    >
      <mat-icon>trending_up</mat-icon>
      <span>Boards</span>
    </button>
    <div class="search-input-container">
      <input class="search-input" placeholder="Jump to..." />
    </div>
  </div>
  <div class="toolbar-logo" fxLayoutAlign="center">
    <button mat-button class="logo">
      <mat-icon>trending_up</mat-icon>
      Kanban
    </button>
  </div>

  <div
    class="toolbar-actions"
    fxLayout="row"
    fxLayoutAlign="end"
    fxLayoutGap="5px"
  >
    <button mat-icon-button class="example-icon add-icon">
      <mat-icon>add</mat-icon>
    </button>

    <button mat-icon-button class="example-icon info-button">
      <mat-icon>info</mat-icon>
    </button>

    <button mat-icon-button class="example-icon notifications-none-button">
      <mat-icon>notifications_none</mat-icon>
    </button>

    <button mat-icon-button class="example-icon account-circle-button">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>
